* {
    margin: 0;
    padding: 0;
}

#contact {
    display: grid;
    grid-template-rows:  [title-s] 5rem [title-e inputs-s] 1fr [inputs-e];
    grid-template-columns: [s] 16rem [m-s] 1fr [m-e] 16rem [e];
    align-items: center;
    justify-items: center;
    grid-row-gap: 3rem;
    margin-top: 2rem;
}

#contact__title {
    grid-row: title-s/title-e;
    grid-column: m-s/m-e;
    font-family: 'Pacifico', cursive;
      text-align: center;
    border-bottom: 0rem solid black;
    display: inline-block;
    font-size: 4rem;
    width: 50%;
    font-weight: 600;
}

#contact-input {
    grid-row: inputs-s/inputs-e;
    grid-column: m-s/m-e;

    display: grid;
    grid-template-columns: [labels-s] 1fr [labels-e inputs-s] 1fr [inputs-e];
<<<<<<< HEAD
  font-family: 'Montserrat', sans-serif;
=======
>>>>>>> c939fda3d50d6470fbb2f1402cda336da62ca669

    width: 50%;
}

.contact-input__label {
    grid-column: labels-s/labels-e;
    text-align: right;
    width: 5rem;
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.contact-input__input {
    grid-column: inputs-s/inputs-e;
    justify-self: start;
      font-family: 'Montserrat', sans-serif;

    width: 30rem;
    padding: 1rem;
}

#contact-input__subject-input {
    margin-bottom: 1rem;
}

#contact-input__body-input {
    height: 20rem;
}

#submit {
    grid-column: input-s/inputs-e;
    grid-row: 2/-1;

    margin-top: 1rem;
}
#submit {
  background-color: #726E75; /* Lavender */
    border: none;
    color: #e0e0e0;
    font-weight: bold;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.contact-content {
  padding: 2rem;
  background-color: white;
  color: #2A282B;
  min-height: 400px;
  margin-right: 0em;
}
